<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<head
        th:replace="~{/fragments/admin-frag::main-header(title='Kích thước admin', name_image='icon_title.png')}">
</head>
<body>
    <nav th:replace="~{/fragments/admin-frag::nav-header}"></nav>
    <th:block th:replace="~{/fragments/admin-frag::thong-bao}"></th:block>

    <!-- Nội dung chính của web -->
    <div class="container mt-5">
        <div class="row">
            <div class="col px-0">
                <h3 class="text-normal text-uppercase text-warning mt-4">Danh sách kích thước</h3>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-5 px-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập tên kích thước để tìm kiếm"/>
                    <div class="input-group-append">
                        <button class="btn btn-secondary"
                                type="button" style="z-index: 1"
                                id="btn-timkiem-kichthuoc">
                            <i class="fas fa-search"></i>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-3 pr-0">
                <button class="btn btn-outline-success w-100" data-toggle="modal" data-target=".modal-themmoikichthuoc">
                    <i class="fas fa-plus-circle mr-1"></i>
                    Thêm mới kích thước
                </button>
            </div>
        </div>

        <div class="row mt-4">
            <table class="table table-hover table-bordered table-striped">
                <thead class="bg-info">
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col">Tên kích thước</th>
                    <th scope="col" class="text-center">Ký hiệu</th>
                    <th scope="col" class="text-center">Xem chi tiết</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="kt : ${listKichThuoc}">
                        <th scope="row" class="align-middle text-center id-kich-thuoc">[[ ${kt.idKichThuoc} ]]</th>
                        <td class="align-middle ten-kich-thuoc">[[ ${kt.tenKichThuoc} ]]</td>
                        <td class="align-middle text-center ky-hieu-kich-thuoc">[[ ${kt.kyHieu} ]]</td>
                        <td class="align-middle w-25">
                            <button class="btn btn-primary w-100 py-1 view-chi-tiet-kich-thuoc" data-toggle="modal" data-target=".modal-chitietkichthuoc">
                                Xem chi tiết
                                <i class="fas fa-chevron-circle-down"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade modal-themmoikichthuoc" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title text-white">Thêm danh kích thước</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group row">
                            <label for="tenkichthuoc-themmoi" class="col-sm-2 col-form-label pr-0">Tên kích thước</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="tenkichthuoc-themmoi"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kyhieukichthuoc-themmoi" class="col-sm-2 col-form-label">Ký hiệu</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="kyhieukichthuoc-themmoi"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-kichthuoc-save">Thêm mới</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-chitietkichthuoc" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white">Thông tin kích thước</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group row">
                            <label for="idkichthuoc-chinhsua" class="col-sm-2 col-form-label pr-0">Mã kích thước</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control" id="idkichthuoc-chinhsua"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tenkichthuoc-chinhsua" class="col-sm-2 col-form-label pr-0">Tên kích thước</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="tenkichthuoc-chinhsua"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kyhieukichthuoc-chinhsua" class="col-sm-2 col-form-label">Ký hiệu</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="kyhieukichthuoc-chinhsua"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-update-kichthuoc">Cập nhập</button>
                    <button type="button" class="btn btn-danger btn-delete-kichthuoc">Xóa</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Kết thúc phần nội dung chính của website-->

    <footer th:replace="~{/fragments/admin-frag::contact-footer}"></footer>
    <th:block th:replace="~{/fragments/admin-frag::link-ref}"></th:block>
</body>
</html>