<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vn">
<head
        th:replace="~{/fragments/admin-frag::main-header(title='Màu sắc admin', name_image='icon_title.png')}">
</head>
<body>
    <nav th:replace="~{/fragments/admin-frag::nav-header}"></nav>
    <th:block th:replace="~{/fragments/admin-frag::thong-bao}"></th:block>

    <!-- Nội dung chính của web -->
    <div class="container mt-5">
        <div class="row">
            <div class="col px-0">
                <h3 class="text-normal text-uppercase text-warning mt-4">Danh sách màu sắc</h3>
            </div>
        </div>
        <div class="row d-flex justify-content-between">
            <div class="col-5 px-0">
                <div class="input-group">
                    <input type="text" class="form-control input-timkiem-mausac" placeholder="Nhập tên màu sắc để tìm kiếm"/>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"
                                style="z-index: 1"
                                id="btn-timkiem-mausac">
                            <i class="fas fa-search"></i>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-3 pr-0">
                <button class="btn btn-outline-success w-100" data-toggle="modal" data-target=".modal-themmoimausac">
                    <i class="fas fa-plus-circle mr-1"></i>
                    Thêm mới màu sắc
                </button>
            </div>
        </div>
        <div class="row mt-4">
            <table class="table table-hover table-bordered table-striped">
                <thead class="bg-info">
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col">Tên màu sắc</th>
                    <th scope="col" class="text-center">Mã màu</th>
                    <th scope="col" class="text-center">Màu thực</th>
                    <th scope="col" class="text-center">Xem chi tiết</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="ms : ${listMauSac}">
                        <th scope="row" class="align-middle text-center id-mau-sac">[[${ms.idMauSac}]]</th>
                        <td class="align-middle ten-mau-sac">[[${ms.tenMauSac}]]</td>
                        <td class="align-middle text-center ma-mau-sac">[[${ms.maMau}]]</td>
                        <td class="align-middle p-1">
                            <button class="w-100 btn" th:styleappend="${ms.maMau} ? 'background:' + ${ms.maMau} : ''">
                                <span style="opacity: 0;">.</span>
                            </button>
                        </td>
                        <td class="p-1 align-middle">
                            <button class="btn btn-primary w-100 py-1 view-chi-tiet-mau-sac" data-toggle="modal" data-target=".modal-chitietmausac">
                                Xem chi tiết
                                <i class="fas fa-chevron-circle-down"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade modal-themmoimausac" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title text-white">Thêm màu sắc mới</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group row">
                            <label for="id-tenmausac-themmoi" class="col-sm-2 col-form-label">Tên màu sắc</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="id-tenmausac-themmoi"/>
                            </div>
                        </div>
                        <div class="form-group row mb-0 d-flex">
                            <label class="col-sm-2 col-form-label">Màu/Mã màu</label>
                            <div class="choose-color">
                                <div>
                                    <input type="color"/>
                                    <input readonly type="text"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-mausac-save">Thêm mới</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-chitietmausac" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white">Thông tin màu sắc</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group row">
                            <label for="ma-mau-sac-chinh-sua" class="col-sm-3 col-form-label">Mã màu sắc</label>
                            <div class="col-sm-9">
                                <input type="text" id="ma-mau-sac-chinh-sua" class="form-control" readonly/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="ten-mau-sac-chinh-sua" class="col-sm-3 col-form-label">Tên màu sắc</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="ten-mau-sac-chinh-sua"/>
                            </div>
                        </div>
                        <div class="form-group row mb-0 d-flex">
                            <label class="col-sm-3 col-form-label">Màu / Mã màu</label>
                            <div class="choose-color">
                                <div>
                                    <input type="color" />
                                    <input type="text" class="text-center" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-update-mausac">Cập nhập</button>
                    <button type="button" class="btn btn-danger btn-delete-mausac">Xóa</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Kết thúc phần nội dung chính của website-->

    <footer th:replace="~{/fragments/admin-frag::contact-footer}"></footer>
    <th:block th:replace="~{/fragments/admin-frag::link-ref}"></th:block>
</body>
</html>