<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vn">

<head
        th:replace="~{/fragments/main-frag-1::main-header(title='Danh sách sản phẩm', name_image='logo_white.png')}">
</head>
<body>
    <th:block th:replace="~{/fragments/main-frag-1::quang-cao-header}"></th:block>
    <th:block th:replace="~{/fragments/main-frag-1::thong-bao}"></th:block>

    <!-- ================================================== -->
    <!-- Nội dung chính của website -->
    <div class="main-content">
        <div class="show-san-pham">
            <div class="title">
                <h2 th:if="${danhMuc == null}">Tất cả các sản phẩm</h2>
                <h2 th:unless="${danhMuc == null}">Danh mục: [[${danhMuc.tenDanhMuc}]]</h2>
                <h3 th:if="${listSanPham.size() == 0}">Không có sản phẩm nào</h3>
            </div>
            <div class="danh-sach">
                <th:block th:each="sp : ${listSanPham}">
                    <a th:href="@{'/sanpham/chitiet/'+ ${sp.idSanPham}}" class="san-pham-item" th:attr="data-id-san-pham=${sp.idSanPham}">
                        <div class="box-images">
                            <div class="box-image">
                                <img th:src="@{${sp.listMauSac[0].listHinhAnh[0].imagePath}}"
                                     alt=""
                                     class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img th:src="@{${sp.listMauSac[0].listHinhAnh[1].imagePath}}"
                                     alt=""
                                     class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">Size</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <th:block th:each="kt : ${sp.listMauSac[0].listKichThuoc}">
                                            <span th:unless="${kt.soLuong == 0}"
                                                  th:attr="data-id-kich-thuoc=${kt.idKichThuoc}">[[${kt.kyHieu}]]</span>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham" th:text="${sp.tenSanPham}"></span>
                            <span class="gia-san-pham">[[${ sp.getGiaSanPham() }]]đ</span>
                            <div class="danh-sach-mau-sac">
                                <th:block th:each="ms, iter : ${sp.listMauSac}">
                                    <div class="mau-sac-detail"
                                         th:style="${ms.maMau == '' || ms.maMau == null}?'background: green':'background:'+${ms.maMau}"
                                         th:classappend="${iter.count == 1} ? 'active-border-color' : ''"
                                         th:attr="data-id-mau-sac=${ms.idMauSac}, data-id-san-pham=${sp.idSanPham}"></div>
                                </th:block>
                            </div>
                        </div>
                    </a>
                </th:block>
            </div>
        </div>
    </div>
    <!-- Kết thúc phần nội dung chính của website -->
    <!-- ================================================== -->


    <!-- Nội dung phần footer -->
    <footer th:replace="~{/fragments/main-frag-1::contact-footer}"></footer>
    <!-- Kết thúc nội dung phần footer -->

    <th:block th:replace="~{/fragments/main-frag-1::link-ref}"></th:block>
</body>
</html>