<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vn">

<head
th:replace="~{/fragments/main-frag-1::main-header(title='Đồ án 1', name_image='icon_title.png')}">
</head>
<body>
    <th:block th:replace="~{/fragments/main-frag-1::quang-cao-header}"></th:block>

    <th:block th:replace="~{/fragments/main-frag-1::thong-bao}"></th:block>

    <!-- ================================================== -->
    <!-- Nội dung chính của website -->
    <div class="main-content">

        <!-- Phần chạy dữ liệu các gian hàng -->
        <div class="san-pham-nam-nu">
            <!-- Sản phầm 1 -->
            <div class="nam-nu-item">
                <div class="box-image" data-aos="fade-right" data-aos-duration="500">
                    <img src="https://cdn.boo.vn/banner/undefined-qovx3.jpg">
                </div>
                <div class="title-san-pham" data-aos="fade-right" data-aos-duration="500">
                    <h2 class="title-top">Áo nỉ nữ</h2>
                    <button class="btn-1 btn-mua-hang">Mua ngay</button>
                </div>
            </div>
            <!-- Kết thúc sản phẩm 1 -->

            <!-- Sản phẩm 2 -->
            <div class="nam-nu-item">
                <div class="box-image" data-aos="fade-left" data-aos-duration="500">
                    <img src="https://cdn.boo.vn/banner/undefined-es5z0.jpg">
                </div>
                <div class="title-san-pham" data-aos="fade-left" data-aos-duration="500">
                    <h2 class="title-top">Áo thun nữ</h2>
                    <button class="btn-1 btn-mua-hang">Mua ngay</button>
                </div>
            </div>
            <!-- Kết thúc sản phẩm 2 -->

            <!-- Sản phẩm 3 -->
            <div class="nam-nu-item">
                <div class="box-image" data-aos="fade-right" data-aos-duration="500">
                    <img src="https://cdn.boo.vn/banner/undefined-qovx3.jpg">
                </div>
                <div class="title-san-pham" data-aos="fade-right" data-aos-duration="500">
                    <h2 class="title-top">Váy & Yếm</h2>
                    <button class="btn-1 btn-mua-hang">Mua ngay</button>
                </div>
            </div>
            <!-- Kết thúc sản phẩm 3 -->

            <!-- Sản phẩm 4 -->
            <div class="nam-nu-item">
                <div class="box-image" data-aos="fade-left" data-aos-duration="500">
                    <img src="https://cdn.boo.vn/banner/undefined-uxttk.jpg">
                </div>
                <div class="title-san-pham" data-aos="fade-left" data-aos-duration="500">
                    <h2 class="title-top">Quần nữ</h2>
                    <button class="btn-1 btn-mua-hang">Mua ngay</button>
                </div>
            </div>
            <!-- Kết thúc sản phẩm 4 -->

        </div>
        <!-- Kết thúc phần chạy dữ liệu các gian hàng -->


        <!-- Nội dung phần sản phẩm mới -->
        <div class="san-pham-moi">
            <div class="box-image" data-aos="fade-up" data-aos-duration="500">
                <img src="https://cdn.boo.vn/banner/undefined-7mupr.jpg" alt="">
            </div>
            <button class="btn-1 btn-hang-moi">Hàng mới</button>
        </div>
        <!-- Kết thúc nội dung phần sản phẩm mới -->

        <!-- Nội dung phần sản phẩm bán chạy nhất -->
        <div class="wrapper-danh-sach san-pham-ban-chay">
            <div class="dieu-huong">
                <i class="fas fa-chevron-left left"></i>
                <i class="fas fa-chevron-right right"></i>
            </div>
            <div class="wrapper-title">
                <h2>Sản phẩm bán chạy</h2>
            </div>
            <div class="danh-sach-san-pham">
                <div class="wrap-inner">
                    <a href="#" class="san-pham-item">
                        <div class="box-images">
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-1.jpg" alt="" class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-2.jpg" alt="" class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">S</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <span>L</span>
                                        <span>X</span>
                                        <span>XL</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham">ÁO PHÔNG STARWARS L LOGO STARWARS</span>
                            <span class="gia-san-pham">449,000đ</span>
                            <div class="danh-sach-mau-sac">
                                <div class="mau-sac-detail active-border-color"></div>
                                <div class="mau-sac-detail"></div>
                                <div class="mau-sac-detail"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="san-pham-item">
                        <div class="box-images">
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-1.jpg" alt="" class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-2.jpg" alt="" class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">S</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <span>L</span>
                                        <span>X</span>
                                        <span>XL</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham">ÁO PHÔNG STARWARS L LOGO STARWARS</span>
                            <span class="gia-san-pham">449,000đ</span>
                            <div class="danh-sach-mau-sac">
                                <div class="mau-sac-detail active-border-color"></div>
                                <div class="mau-sac-detail"></div>
                                <div class="mau-sac-detail"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="san-pham-item">
                        <div class="box-images">
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-1.jpg" alt="" class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-2.jpg" alt="" class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">S</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <span>L</span>
                                        <span>X</span>
                                        <span>XL</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham">ÁO PHÔNG STARWARS L LOGO STARWARS</span>
                            <span class="gia-san-pham">449,000đ</span>
                            <div class="danh-sach-mau-sac">
                                <div class="mau-sac-detail active-border-color"></div>
                                <div class="mau-sac-detail"></div>
                                <div class="mau-sac-detail"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="san-pham-item">
                        <div class="box-images">
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-1.jpg" alt="" class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-2.jpg" alt="" class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">S</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <span>L</span>
                                        <span>X</span>
                                        <span>XL</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham">ÁO PHÔNG STARWARS L LOGO STARWARS</span>
                            <span class="gia-san-pham">449,000đ</span>
                            <div class="danh-sach-mau-sac">
                                <div class="mau-sac-detail active-border-color"></div>
                                <div class="mau-sac-detail"></div>
                                <div class="mau-sac-detail"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="san-pham-item">
                        <div class="box-images">
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-1.jpg" alt="" class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-2.jpg" alt="" class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">S</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <span>L</span>
                                        <span>X</span>
                                        <span>XL</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham">ÁO PHÔNG STARWARS L LOGO STARWARS</span>
                            <span class="gia-san-pham">449,000đ</span>
                            <div class="danh-sach-mau-sac">
                                <div class="mau-sac-detail active-border-color"></div>
                                <div class="mau-sac-detail"></div>
                                <div class="mau-sac-detail"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="san-pham-item">
                        <div class="box-images">
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-1.jpg" alt="" class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-2.jpg" alt="" class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">S</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <span>L</span>
                                        <span>X</span>
                                        <span>XL</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham">ÁO PHÔNG STARWARS L LOGO STARWARS</span>
                            <span class="gia-san-pham">449,000đ</span>
                            <div class="danh-sach-mau-sac">
                                <div class="mau-sac-detail active-border-color"></div>
                                <div class="mau-sac-detail"></div>
                                <div class="mau-sac-detail"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Kết thúc phần nội dung bán chạy nhât -->

        <!-- Nội dung phần sản phẩm đã xem -->
        <div class="san-pham-da-xem">
            <div class="dieu-huong">
                <i class="fas fa-chevron-left left"></i>
                <i class="fas fa-chevron-right right"></i>
            </div>
            <div class="wrapper-title">
                <h2>Sản phẩm đã xem</h2>
            </div>
            <div class="danh-sach-san-pham">
                <div class="wrap-inner">
                    <a href="#" class="san-pham-item">
                        <div class="box-images">
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-1.jpg" alt="" class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-2.jpg" alt="" class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">S</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <span>L</span>
                                        <span>X</span>
                                        <span>XL</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham">ÁO PHÔNG STARWARS L LOGO STARWARS</span>
                            <span class="gia-san-pham">449,000đ</span>
                            <div class="danh-sach-mau-sac">
                                <div class="mau-sac-detail active-border-color"></div>
                                <div class="mau-sac-detail"></div>
                                <div class="mau-sac-detail"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="san-pham-item">
                        <div class="box-images">
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-1.jpg" alt="" class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-2.jpg" alt="" class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">S</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <span>L</span>
                                        <span>X</span>
                                        <span>XL</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham">ÁO PHÔNG STARWARS L LOGO STARWARS</span>
                            <span class="gia-san-pham">449,000đ</span>
                            <div class="danh-sach-mau-sac">
                                <div class="mau-sac-detail active-border-color"></div>
                                <div class="mau-sac-detail"></div>
                                <div class="mau-sac-detail"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="san-pham-item">
                        <div class="box-images">
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-1.jpg" alt="" class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-2.jpg" alt="" class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">S</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <span>L</span>
                                        <span>X</span>
                                        <span>XL</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham">ÁO PHÔNG STARWARS L LOGO STARWARS</span>
                            <span class="gia-san-pham">449,000đ</span>
                            <div class="danh-sach-mau-sac">
                                <div class="mau-sac-detail active-border-color"></div>
                                <div class="mau-sac-detail"></div>
                                <div class="mau-sac-detail"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="san-pham-item">
                        <div class="box-images">
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-1.jpg" alt="" class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-2.jpg" alt="" class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">S</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <span>L</span>
                                        <span>X</span>
                                        <span>XL</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham">ÁO PHÔNG STARWARS L LOGO STARWARS</span>
                            <span class="gia-san-pham">449,000đ</span>
                            <div class="danh-sach-mau-sac">
                                <div class="mau-sac-detail active-border-color"></div>
                                <div class="mau-sac-detail"></div>
                                <div class="mau-sac-detail"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="san-pham-item">
                        <div class="box-images">
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-1.jpg" alt="" class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-2.jpg" alt="" class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">S</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <span>L</span>
                                        <span>X</span>
                                        <span>XL</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham">ÁO PHÔNG STARWARS L LOGO STARWARS</span>
                            <span class="gia-san-pham">449,000đ</span>
                            <div class="danh-sach-mau-sac">
                                <div class="mau-sac-detail active-border-color"></div>
                                <div class="mau-sac-detail"></div>
                                <div class="mau-sac-detail"></div>
                            </div>
                        </div>
                    </a>

                    <a href="#" class="san-pham-item">
                        <div class="box-images">
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-1.jpg" alt="" class="item-image item-image-1">
                            </div>
                            <div class="box-image">
                                <img src="https://cdn.boo.vn/products/395/ao-phong-o-mandalorian-patten-hoa-tietxanh-la-cay-greenxanh-reu-2.jpg" alt="" class="item-image item-image-2">
                            </div>

                            <div class="bang-size">
                                <div class="ben-trai">
                                    <span class="chon-size">S</span>
                                    <div class="bang-chon-size set-none-visible">
                                        <span>L</span>
                                        <span>X</span>
                                        <span>XL</span>
                                        <span>S</span>
                                    </div>
                                </div>
                                <div class="ben-phai">
                                    <span>Add</span>
                                </div>
                            </div>
                        </div>
                        <div class="san-pham-detail">
                            <span class="ten-san-pham">ÁO PHÔNG STARWARS L LOGO STARWARS</span>
                            <span class="gia-san-pham">449,000đ</span>
                            <div class="danh-sach-mau-sac">
                                <div class="mau-sac-detail active-border-color"></div>
                                <div class="mau-sac-detail"></div>
                                <div class="mau-sac-detail"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Kết thúc phần nội dung bán đã xem -->
    </div>
    <!-- Kết thúc phần nội dung chính của website -->
    <!-- ================================================== -->

    <!-- Nội dung phần footer -->
    <footer th:replace="~{/fragments/main-frag-1::contact-footer}"></footer>
    <!-- Kết thúc nội dung phần footer -->

    <th:block th:replace="~{/fragments/main-frag-1::link-ref}"></th:block>
</body>
</html>